@tailwind components;

@layer components {
  .button-brand-2 {
    @apply bg-brand-2 border-none  text-whiteFixed py-[12px] px-[28px];
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }

  .button-brand-2:hover {
    @apply bg-brand-3 duration-500;
  }
}
