@tailwind components;

@layer components {
    .big-grey-1 {
        @apply bg-grey-0 border-[1.5px] border-solid border-grey-0 rounded text-whiteFixed py-[12px] px-[28px];
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
    }
    
    .big-grey-1:hover {
        @apply bg-grey-1 border-[1.5px] border-solid border-grey-1;
    }

    .medium-grey-1 {
        @apply  bg-grey-0 border-[1.5px] border-solid border-grey-0 rounded text-whiteFixed py-[12px] px-[20px] ;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
    }
    
    .medium-grey-1:hover {
        @apply bg-grey-1 border-[1.5px] border-solid border-grey-1;
    }
}
