@tailwind components;

@layer components {
  .heading-1-700 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
  }

  .heading-2-700 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
  }

  .heading-3-600 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
  }

  .heading-4-700 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
  }

  .body-1-600 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }

  .body-1-400 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  .body-2-400 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
}
